<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                 <a href="https://www.invertisuniversity.ac.in" target="_blank" class="brand-logo left "><img class="logo-img" src="../images/invertis-logo.png"/></a>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Quick Links</h5>
                <ul class="text-style-links">
                  <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="/Records">Placement Records</a></li>
                  <li><a class="grey-text text-lighten-3" href="/Recruiters">Recruiters</a></li>
                  <li><a class="grey-text text-lighten-3" href="/Team">Our Team</a></li>
                  <li><a class="grey-text text-lighten-3" href="/Contacts">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright text-style-links center">
            <div class="container">
            Copyright © 2018, CRC Invertis University. All Rights Reserved
            <p>Developed with love by Tuhin Roy</p>
            </div>
          </div>
        </footer>