<header>
  <div class="bottom-nav-strip"></div>
	<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left "><img class="logo-img" src="../images/invertis-logo.png"/></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down text-style-links">
        <li><a href="/">Home</a></li>
        <li><a href="/Records">Placement Records</a></li>
        <li><a href="/Recruiters">Recruiters</a></li>
        <li><a href="/Team">Our Team</a></li>
      </ul>
    </div>
  </nav>
</header>
