<header>
  <div class="bottom-nav-strip"></div>
  <nav>
    <div class="nav-wrapper">
      <a href="https://www.invertisuniversity.ac.in" target="_blank" class="brand-logo"><img class="logo-img" src="../images/invertis-logo.png"/></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down text-style-links">
        <li><a href="/">Home</a></li>
        <li><a href="/Records">Placement Records</a></li>
        <li><a href="/Recruiters">Recruiters</a></li>
        <li><a href="/Team">Our Team</a></li>
        <li><a href="/Contacts">Contact Us</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/Records">Placement Records</a></li>
    <li><a href="/Recruiters">Recruiters</a></li>
    <li><a href="/Team">Our Team</a></li>
    <li><a href="/Contacts">Contact Us</a></li>
  </ul>

</header>


