
<h3 class="text-style-title">Corporate Resource Center</h3>
<hr/>
<div class="container">
	<div class="row">
		<div class="col l4">
			<p class="text-align-justify">{{firstDiv}}</p>
		</div>
		
		<div class="col l4">
			<p class="text-align-justify">{{secondDiv}}</p>
		</div>

		<div class="col l4">
			<p class="text-align-justify">{{thirdDiv}} {{fourthDiv}}</p>
		</div>	
	</div>
	<div class="row">
		<div class="col l12">
			<p>Many more companies are in pipe line for 2018 batch students.</p>
		</div>
	</div>
</div>	
<br/>

