
<h3>Recruiters</h3>
<hr/>
<div class="container">
	<div class="row">
		{{#each images}}	
		<div class="col">		
				<img class="zoom" src='../images/{{this}}.jpg' />			
		</div>
		{{/each}}
	</div>
</div>